<!DOCTYPE html>
<html>
    <head>
        <title>Login form</title>
    </head>
    <body>
        <div>
            <h1>This is a login demo</h1>
        </div>
        <div>
            <form action="/login" method="post">
                name:
                <input name="user" type="text">
                password:
                <input name="passwd" type="password">
                <input type="submit" value="Login">
            </form>
        </div>
    </body>
</html>